<%- include('header'); -%>
<nav>
  <div class="nav-bar">
    <div class="brand-logo"><a href="/">FlashFang</a></div>
    <div class="nav-items">
      <ul class="nav-list">
        <li class="nav-bar-items"><a href="#">About</a></li>
        <li class="nav-bar-items"><a href="#">Contact</a></li>
        <li class="nav-bar-items">
          <a href="#"><u>Add</u></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="card">
  <div class="card-heading-box">
    <div class="card-heading">English Word</div>
  </div>
  <div class="word">Juice</div>
</div>
<div class="user-form">
  <form action="">
    <input
      type="text"
      name="userWord"
      id=""
      autocomplete="off"
      placeholder="sap"
      class="userInput"
      >
    <div class="check-solution">
      <button type="submit" class="btn">Check Solution</button>
    </div>
  </form>
</div>
<%- include('footer'); -%>
