<%- include('header'); -%>
<nav>
  <div class="nav-bar">
    <div class="brand-logo"><a href="/">FlashFang</a></div>
    <div class="nav-items">
      <ul class="nav-list">
        <li class="nav-bar-items"><a href="#">About</a></li>
        <li class="nav-bar-items"><a href="#">Contact</a></li>
        <li class="nav-bar-items"><a href="#"><u>Add</u></a></li>
      </ul>
    </div>
  </div>
</nav>

<%- include('footer'); -%>
