body{
    background-color: #F08A5D;
    color: #112D4E;
    font-family: 'Ubuntu', sans-serif;
}

h1{
    color: #112D4E;
}

/* fonts  */

/* font-family: 'Titan One', cursive;
font-family: 'Ubuntu', sans-serif; */


/* color Palletes */
/* 
#F9ED69
#F08A5D
#B83B5E
#6A2C70
 */

